.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
    .text__title {
        text-align: center;
        position: relative;
        justify-content: center;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }
        .text__title::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 500px;
            height: 1px;
            background: #6600ee;
        }

    .agenda{
        background-color: #fafafa;
        padding-bottom: 20px;
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    }
    .agenda iframe {
        position: absolute;
         top:0; 
         left: 0; 
         width: 100%; 
         height: 100%;
    }
    

    .times__title {
        text-align: center;
        position: relative;
        justify-content: center;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }
        .times__title::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 500px;
            height: 1px;
            background: #6600ee;
        }
        button {
            margin: 10px;
            color: #000000;
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 9px 40px;
            border-radius: 40px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            border: #6600ee solid 1px;
        }

@media (max-width: 375px) {
    .text__title::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 250px;
        height: 1px;
        background: #6600ee;
    }
    .text__txt {
        width: 250px;
    }
    .agenda {
        width: 200px;
    }
    
    .times__title::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 250px;
        height: 1px;
        background: #6600ee;
    }
}

@media (min-width: 760px) and (max-width: 1000px) {}